@model IEnumerable<PhysioHub.Data.Data.CMS.Article>
@{
    ViewData["Title"] = "ArticlesMinis";
}

<section class="physio-bg-alt p-2">
    <div class="container">
        <div class="text-center mb-3">
            <h2 class="physio-text-primary mb-0">Latest News</h2>
        </div>
        
        <div class="row">
            @foreach (var article in Model)
            {
                <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm news-card border-0">
                        <img src="~/img/articles/article-@(article.Id).jpg" class="card-img-top" alt="@article.Title">
                    <div class="card-body">
                        <span class="news-date">@article.PublishedAt.ToString("dd.MM.yyyy")</span>
                        <h5 class="card-title mt-2"> @article.Title </h5>
                        <p class="card-text text-muted small">@article.ShortDescription</p>
                        <a class="fw-bold"  asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@article.Id"
                        >Read more</a>
                    </div>
                </div>
            </div>
            }

        </div>
        <div class="text-center mb-3">
            <a href="#" class="text-decoration-none fw-bold">View all posts <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</section>